<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.AccountBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.AccountBook">
        <id column="ACCOUNT_BOOK_CODE" property="accountBookCode" />
        <result column="ACCOUNT_BOOK_NAME" property="accountBookName" />
        <result column="USE_ORG_NUMBER" property="useOrgNumber" />
        <result column="ACCOUNT_BOOK_TYPE" property="accountBookType" />
        <result column="ACCOUNT_ORG_NUMBER" property="accountOrgNumber" />
        <result column="ISSYNC" property="issync" />
        <result column="REMARK" property="remark" />
        <result column="STATUS" property="status" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="USE_ORG_NAME" property="useOrgName" />
        <result column="SYNC_TIME" property="syncTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ACCOUNT_BOOK_CODE, ACCOUNT_BOOK_NAME, USE_ORG_NUMBER, ACCOUNT_BOOK_TYPE, ACCOUNT_ORG_NUMBER, ISSYNC, REMARK, STATUS, CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, UPDATE_TIME, USE_ORG_NAME, SYNC_TIME
    </sql>

</mapper>
