<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.AlertErrorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.AlertError">
        <result column="AUTOID" property="autoid" />
        <result column="DB_NAME" property="dbName" />
        <result column="ERR_TYPE" property="errType" />
        <result column="ERR_CODE" property="errCode" />
        <result column="ERR_CONTENT" property="errContent" />
        <result column="CREATION_DATE" property="creationDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AUTOID, DB_NAME, ERR_TYPE, ERR_CODE, ERR_CONTENT, CREATION_DATE
    </sql>

</mapper>
