<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.BillInvoiceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.BillInvoice">
        <id column="SERIAL_ID" property="serialId" />
        <result column="INVOICE_TITLE" property="invoiceTitle" />
        <result column="USER_ID" property="userId" />
        <result column="BANK_ID" property="bankId" />
        <result column="BALANCE_ID" property="balanceId" />
        <result column="YEAR" property="year" />
        <result column="QUARTER" property="quarter" />
        <result column="MONTH" property="month" />
        <result column="APPLY_STATUS" property="applyStatus" />
        <result column="APPLY_USER_ID" property="applyUserId" />
        <result column="APPLY_TIME" property="applyTime" />
        <result column="INVOICE_TIME" property="invoiceTime" />
        <result column="ACCOUNT_ID" property="accountId" />
        <result column="INVOICE_TYPE" property="invoiceType" />
        <result column="INVOICE_AMOUNT" property="invoiceAmount" />
        <result column="FILENAME1" property="filename1" />
        <result column="FILEURL1" property="fileurl1" />
        <result column="FILENAME2" property="filename2" />
        <result column="FILEURL2" property="fileurl2" />
        <result column="ACCOUNT_NAME" property="accountName" />
        <result column="MECHANISM_NAME" property="mechanismName" />
        <result column="EXT3" property="ext3" />
        <result column="CONFIRMATION_URL" property="confirmationUrl" />
        <result column="CONFIRMATION_CREATE_TIME" property="confirmationCreateTime" />
        <result column="APPLY_REMARK" property="applyRemark" />
        <result column="INVOICE_REMARK" property="invoiceRemark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="INVOICE_USER_ID" property="invoiceUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SERIAL_ID, INVOICE_TITLE, USER_ID, BANK_ID, BALANCE_ID, YEAR, QUARTER, MONTH, APPLY_STATUS, APPLY_USER_ID, APPLY_TIME, INVOICE_TIME, ACCOUNT_ID, INVOICE_TYPE, INVOICE_AMOUNT, FILENAME1, FILEURL1, FILENAME2, FILEURL2, ACCOUNT_NAME, MECHANISM_NAME, EXT3, CONFIRMATION_URL, CONFIRMATION_CREATE_TIME, APPLY_REMARK, INVOICE_REMARK, CREATE_TIME, UPDATE_TIME, INVOICE_USER_ID
    </sql>

</mapper>
