<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.NsrCityCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.NsrCityCode">
        <result column="NSRSBH" property="nsrsbh" />
        <result column="NSRMC" property="nsrmc" />
        <result column="CITY_CODE" property="cityCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NSRSBH, NSRMC, CITY_CODE
    </sql>

</mapper>
