<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.ProjectAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.ProjectArea">
        <id column="PROJECT_AREA_ID" property="projectAreaId" />
        <result column="PROJECT_ID" property="projectId" />
        <result column="AREA_CODE" property="areaCode" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="STATUS" property="status" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROJECT_AREA_ID, PROJECT_ID, AREA_CODE, CREATE_TIME, CREATE_USER_ID, STATUS, UPDATE_TIME, UPDATE_USER_ID
    </sql>

</mapper>
