<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.StandardProductTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mp.model.StandardProductType">
        <id column="TYPE_ID" property="typeId" />
        <result column="TYPE_NAME" property="typeName" />
        <result column="STATUS" property="status" />
        <result column="PARENT_TYPE_ID" property="parentTypeId" />
        <result column="CREATE_USER_ID" property="createUserId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER_ID" property="updateUserId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
        <result column="JINDIE_PRODUCT_TYPE_ID" property="jindieProductTypeId" />
        <result column="ISSYNC" property="issync" />
        <result column="SYNC_TIME" property="syncTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TYPE_ID, TYPE_NAME, STATUS, PARENT_TYPE_ID, CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, UPDATE_TIME, REMARK, JINDIE_PRODUCT_TYPE_ID, ISSYNC, SYNC_TIME
    </sql>

</mapper>
